html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}

audio:not([controls]) {
  display: none;
  height: 0
}

[hidden],
template {
  display: none
}

a {
  background: transparent
}

a:active,
a:hover {
  outline: 0
}

abbr[title] {
  border-bottom: 1px dotted
}

b,
strong {
  font-weight: bold
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: 0.67em 0
}

mark {
  background: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -0.5em
}

sub {
  bottom: -0.25em
}

img {
  border: 0
}

svg:not(:root) {
  overflow: hidden
}

figure {
  margin: 1em 40px
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0
}

button {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer
}

button[disabled],
html input[disabled] {
  cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0
}

input {
  line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em
}

legend {
  border: 0;
  padding: 0
}

textarea {
  overflow: auto
}

optgroup {
  font-weight: bold
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
  font-size: 14px;
  line-height: 1.42858;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialiased
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

a {
  color: #009a61;
  text-decoration: none
}

a:hover,
a:focus {
  color: #004e31;
  text-decoration: underline
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

figure {
  margin: 0
}

img {
  vertical-align: middle
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit
}

h1 small,
h1 .small,
h2 small,
h2 .small,
h3 small,
h3 .small,
h4 small,
h4 .small,
h5 small,
h5 .small,
h6 small,
h6 .small,
.h1 small,
.h1 .small,
.h2 small,
.h2 .small,
.h3 small,
.h3 .small,
.h4 small,
.h4 .small,
.h5 small,
.h5 .small,
.h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px
}

h1 small,
h1 .small,
.h1 small,
.h1 .small,
h2 small,
h2 .small,
.h2 small,
.h2 .small,
h3 small,
h3 .small,
.h3 small,
.h3 .small {
  font-size: 65%
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px
}

h4 small,
h4 .small,
.h4 small,
.h4 .small,
h5 small,
h5 .small,
.h5 small,
.h5 .small,
h6 small,
h6 .small,
.h6 small,
.h6 .small {
  font-size: 75%
}

h1,
.h1 {
  font-size: 36px
}

h2,
.h2 {
  font-size: 30px
}

h3,
.h3 {
  font-size: 24px
}

h4,
.h4 {
  font-size: 18px
}

h5,
.h5 {
  font-size: 14px
}

h6,
.h6 {
  font-size: 12px
}

p {
  margin: 0 0 10px
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px
}

dl {
  margin-top: 0;
  margin-bottom: 20px
}

dt,
dd {
  line-height: 1.42858
}

dt {
  font-weight: bold
}

dd {
  margin-left: 0
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 14px;
  border-left: 5px solid #eee
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0
}

blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42858;
  color: #777
}

blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0'
}

blockquote:before,
blockquote:after {
  content: ""
}

address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42858
}

code,
kbd,
pre,
samp {
  font-family: "Source Code Pro", Consolas, Menlo, Monaco, "Courier New", monospace
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px
}

kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25)
}

kbd kbd {
  padding: 0;
  font-size: 100%;
  box-shadow: none
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42858;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0
}

table {
  background-color: transparent
}

th {
  text-align: left
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal
}

input[type="file"] {
  display: block
}

input[type="range"] {
  display: block;
  width: 100%
}

select[multiple],
select[size] {
  height: auto
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px
}

output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42858;
  color: #555
}

a,
a:hover,
a:active,
a:focus {
  outline: 0
}

.md {
  line-height: 1.6;
  word-wrap: break-word
}

.md h1 {
  font-size: 2.25em
}

.md h2 {
  font-size: 1.75em
}

.md h3 {
  font-size: 1.5em
}

.md h4 {
  font-size: 1.25em
}

.md h5 {
  font-size: 1em
}

.md h6 {
  font-size: 0.86em
}

.md h4,
.md h5,
.md p,
.md ul,
.md ol,
.md pre,
.md blockquote,
.md table {
  margin: 1.5em 0;
  list-style: normal
}

.md h1,
.md h2,
.md h3 {
  margin: 1.5em 0 0
}

.md h1+.widget-codetool+pre,
.md h2+.widget-codetool+pre,
.md h3+.widget-codetool+pre {
  margin-top: 1.5em !important
}

.md h1,
.md h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px
}

.md>h1:first-child,
.md h2:first-child,
.md h3:first-child,
.md h4:first-child,
.md p:first-child,
.md ul:first-child,
.md ol:first-child,
.md pre:first-child,
.md blockquote:first-child {
  margin-top: 0
}

.md ul,
.md ol {
  margin-left: 3em;
  padding-left: 0
}

.md ul li,
.md ol li {
  margin: .3em 0
}

.md ul ul,
.md ul ol,
.md ol ul,
.md ol ol {
  margin-top: 0;
  margin-bottom: 0
}

.md ul p,
.md ol p {
  margin: 0
}

.md p:last-child {
  margin-bottom: 0
}

.md p>p:empty,
.md div>p:empty,
.md p>div:empty,
.md div>div:empty,
.md div>br:only-child,
.md p+br,
.md img+br {
  display: none
}

.md img,
.md video,
.md audio {
  position: static !important;
  max-width: 100%
}

.md img {
  padding: 3px;
  border: 1px solid #ddd
}

.md img.emoji {
  padding: 0;
  border: none
}

.md blockquote {
  border-left: 6px solid #f6f6f6;
  color: #555;
  font-size: 1em
}

.md pre,
.md code {
  font-size: 0.93em
}

.md pre {
  padding: 1em;
  border: none;
  overflow: auto;
  line-height: 1.45;
  max-height: 35em;
  position: relative;
}

.md pre code {
  background: none;
  font-size: 1em;
  overflow-wrap: normal;
  white-space: inherit
}

.md hr {
  margin: 1.5em auto;
  border-top: 2px dotted #eee
}

.md kbd {
  margin: 0 4px;
  padding: 3px 4px;
  background: #eee;
  color: #555
}

.md .x-scroll {
  overflow-x: auto
}

.md table {
  width: 100%
}

.md table th,
.md table td {
  border: 1px solid #E6E6E6;
  padding: 5px 8px;
  word-break: normal
}

.md table th {
  background: #F3F3F3
}

.md a:not(.btn) {
  border-bottom: 1px solid rgba(0, 154, 97, 0.25);
  padding-bottom: 1px
}

.md a:not(.btn):hover {
  border-bottom: 1px solid #046f99;
  text-decoration: none
}

textarea {
  resize: vertical
}
